version: '3'

services:
    database:
        image: mongo
        restart: always
        volumes:
            - mongo-data:/data/db

    backend:
        image: loopingea/backend-looping-ea
        command: npm start
        links:
            - "database"

    frontend:
        image: loopingea/frontend-looping-ea
        ports:
            - "1200:80"
        links:
            - "backend"

volumes:
    mongo-data:
        driver: local
